body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 18px;
    color: #E5E7EB;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
}

/* Header + Section 1 */
.section-1, .footer {
    background-color: #1F2937;
    color: white;
}

.section-1 {
    color: #E5E7EB;
    padding-top: 20px;
    padding-right: 250px;
    padding-left: 250px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

.container-1 {
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 150px;
}

.left-1 {
    width: 500px;
    height: 300px;
    padding: 0;
    gap: 0;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-bottom: 10px;
    padding: 0;
}

.right-1 img {
    width: 576px;
    height: 384px;
    background-color: #808080;
    display: flex;
    flex-shrink: 1;
}

/* Section 2 - Images with Subtext */
.section-2 {
    color: #1F2937;
    padding: 60px 300px 150px 300px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    margin: 0;
    padding: 0;
}

.container-2 {
    display: flex;
    padding-top: 60px;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    max-width: 200px;
}

.card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-style: solid;
    border-color: #3882F6;
    border-radius: 15px;
    margin-bottom: 10px;
}

/* Section 3 - Quote */
.section-3 {
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 150px 360px;
}

.section-3 h3 {
    font-size: 36px;
    font-style: italic;
    font-weight: 400;
    text-align: center;
    margin-bottom: 10px;
}

.section-3 p {
    font-weight: 900;
    font-size: 24px;
    text-align: right;
}

/* Section 4 - Sign Up */
.section-4 {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}
.container-4 {
    /*width: 1200px;*/
    width: 100%;
    height: 180px;
    margin: 120px 250px;
    background-color: #3882F6;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
}

h4 {
    font-size: 24px;
    font-weight: 900;
    padding: 0;
    margin: 0;
}

.left-4 {
    padding-left: 30px;
}

.right-4 {
    padding-right: 30px;
}

.right-4 button {
    border-style: solid;
    border-color: white;
}

/* Footer */
.footer {
    padding: 50px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 20px;
}

button {
    background: #3882F6;
    border-radius: 10px;
    border-style: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    width: 120px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    padding: 0;
    margin: 0;
}

img {
    display: flex;
    flex-shrink: 0
}